@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans;
    }
}

@media (max-width: 800px) {
    /* Tailwind's default small screen breakpoint */
    .rotate-bg-sm {
        transform: rotate(90deg) translateX(10%);
        background-position: center 50%;
    }
}

/* Reset transformations on larger screens if needed */
@media (min-width: 641px) {
    .rotate-bg-sm {
        transform: none; /* Reset any transformations */
        background-position: right; /* Restore default position */
    }
}

.aspect-w-16 {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
}
.aspect-h-9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
